@using Microsoft.AspNetCore.Identity
@using StudentEnrollmentSystem.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    var currentUser = await UserManager.GetUserAsync(User);

    <li class="nav-item">
        <a class="nav-link portal-user-pill portal-user-link" asp-controller="Account" asp-action="Profile">
            @(currentUser?.DisplayName ?? User.Identity?.Name)
        </a>
    </li>
    <li class="nav-item">
        <form class="d-flex" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home")" method="post">
            <button type="submit" class="btn btn-outline-secondary btn-sm">Sign Out</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="btn btn-primary btn-sm" asp-area="Identity" asp-page="/Account/Login">Student Sign In</a>
    </li>
}
</ul>
