@{
    ViewData["Title"] = "Contact Us Submitted";
}

<div class="container mt-4">
    <h2>Thank You</h2>
    <p>Your enquiry has been submitted successfully.</p>

    <a asp-action="Index" class="btn btn-primary">Back to Enquiry</a>
</div>